#container{
    padding-top:1rem;
    padding-bottom: 1rem;
}

.gallery {
    margin: .2rem;
    border: .2rem solid #ccc;
    float: left;
    width: 20rem;
}

.gallery:hover {
    border: .2rem solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 1rem;
    text-align: center;
}