
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        @import "/css/header.css";
        @import "/css/nav.css";
        @import "/css/layout.css";
        @import "/css/footer.css";
        {% block css%}{% endblock %}
    </style>
    <script type="text/javascript">
        {% block script %}{% endblock %}
    </script>


    <title> {{pageTitle}} page</title>
</head>

<body">

<header>

    <div id="headerLeft">

        <img src="/images/icons/icon.png" alt="Drone Icon">

    </div>

    <div id="headerCenter">
        <h1>Drone Racing</h1>
    </div>

    <div id="headerRight">

        {% if session.username == ('Staff Account' or 'Administrator') %}
        Welcome: <strong>{{ session.username }}</strong><br>
            You are: <strong>{{ session.privilege }}</strong><br>
            <a href="/index.php?action=logOut" id="mainLogin">Log out</a>

                    {% else %}
                     <a href="/index.php?action=login" id="mainLogin">Login/Register</a>
                    {% endif %}


    </div>

</header>



<!-----------------NAV BAR------------------------------>

<nav>
    <ul>
        <li><a href="/index.php?action=index" class="{% block homePageCurrent %}{% endblock%}">Home</a></li>
        <li><a href="/index.php?action=leaguePage" class="{% block leaguePageCurrent %}{% endblock%}">League Table</a></li>
        <li><a href="/index.php?action=displayProduct" class="{% block displayProductCurrent %}{% endblock%}">Products</a></li>
        <li><a href="/index.php?action=gallery" class="{% block galleryCurrent %}{% endblock%}">Gallery</a></li>
        <li><a href="/index.php?action=about" class="{% block aboutCurrent %}{% endblock%}">About</a></li>
    </ul>
</nav>

{% if session.privilege == ( 'Staff Account' or 'Administrator')  %}

<nav>
    <ul>

        {% if session.privilege == 'Administrator' %}
        <li><a href="/index.php?action=setup" class="{% block setupDatabaseCurrent %}{% endblock%}">Setup Database</a></li>
        <li><a href="/index.php?action=delete" >Delete DataBase</a></li>
        {% endif %}

        <li><a href="/index.php?action=visitor" class="{% block accountsCurrent %}{% endblock%}">Visitors</a></li>
        <li><a href="/index.php?action=staff" class="{% block staffCurrent %}{% endblock%}">Staff</a></li>
    </ul>
</nav>


{% endif %}

<div id="container">

    {% block main %}

    {% endblock %}

    {% block loginError %}
    {% endblock %}

</div>

<!------------------------------FOOTER---------------------------------->


<footer>

    <div id="leftFooter">
        <ul>
            <li><a href="mailto:B00099344@student.itb.ie?Sunject=Hello%20again" target="_top"><img src="/images/icons/email.png" alt="Email me"></a></li>
            <li><a href="https://www.facebook.com"><img src="/images/icons/facebook.png" alt="Facebook"></a></li>
            <li><a href="http://twitter.com"><img src ="/images/icons/twitter.png" alt="Twitter"></a></li>
            <li><a href="https://www.linkedin.com/nhome"><img src="/images/icons/linkedin.png" alt ="Linkedin"></a></li>
        </ul>
    </div>

    <div id="centerFooter">
        <h1>B00099344 &copy; 2017</h1>
    </div>

    <div id="rightFooter">

        <p class="middle">Icons made by Freepik<br> from<br>

            <a href="http://www.flaticon.com">www.Flaticon.com</a></p>
    </div>

</footer>

</body>
</html>
