{% extends '_template.html.twig' %}

{% block css %}

    @import "css/editForm.css";

    {% endblock %}


{% block header %}


    {% endblock %}

{% block script %}
    function confirm_click(){
        return confirm("Are you sure ?");
    }
    {% endblock %}


{% block main %}


    <form action="index.php?action=addLeagueMember"  method="post" >
        {#<input type="hidden" name="action" value="processLeagueUpdate">#}


        <h1>Add League Member</h1>

        <label>Name:</label><input type="text" name="name" required>
        <br>
        <label>Country:</label><input type="text" name="country" required>
        <br>
        <label>Drone:</label><input type="text" name="drone" required>
        <br>
        <label>Position:</label><input type="text"name="position" required>
        <br>

        <label> </label><input type="submit" value="Add" id="submitButton">


    </form>



{% endblock %}