{% extends '_template.html.twig' %}



{% block css %}
    @import "css/addProduct.css";
{% endblock %}


{% block main %}

    <form action="/index.php" method="post"  enctype="multipart/form-data">
        <input type="hidden" name="action" value="processProduct">

        <h1>Add Product</h1>

        <fieldset>

            <label>Product Name</label> <input type="text" name="name" required placeholder="Item name" autofocus><br>
            <label>Product Price</label> <input type="number" min="0" step="0.01" value="0.00" required name="price" placeholder="Numbers only"><br>
            <label>Product Image</label> <input type="file" name="upload" id="fileToUpload"  placeholder="Item Image URL"><br>
            <label>Product Description</label> <textarea rows="10" cols="18" name="description" required placeholder="Optional"></textarea><br>

        </fieldset>
        <br>
        <div id="button">

            <input type="submit" value="Add" id="submit">
            <input type="reset" value="Clear" id="reset">
            <br>

        </div>
    </form>

{% endblock %}



