{% extends '_template.html.twig' %}



{% block css %}

    @import "css/form.css";

{% endblock %}




{%  block header %}

<div id="headerRightLogin">

    <img src="/images/icon.png" alt="Logo" id="iconImage">

</div>

{% endblock %}




{% block main %}


	<h1>Create Account</h1>
	
    
    <!----------------------PERSONAL DETAILS----------------------->

		<fieldset>
			<legend>Personal Details</legend>

            <label for="firstName" >First Name:</label><input type="text" name="firstName" required size="10" maxlength="20" autofocus
				placeholder="First Name" id="firstName"><br>

            <label>Second Name:</label> <input type="text" name="secondName" required placeholder="Second Name" id="secondName"><br>
            <label>Country</label> <input type="text" name="country" required placeholder="Country" id="address4"><br>

		</fieldset>
		<br>
    
    <!----------------------LOGIN DETAILS----------------------->
		<fieldset>
			<legend>Enter Password</legend>

			<label>Username:</label><input type = "text" name="user1" required title="Enter Username" id = "user1" placeholder="Enter Username">
			<br>
			<label>Verify Username:</label><input type = "text" name="user2" required title="Verify Username" id = "user2" placeholder="Verify Username">
			<br>
			<label>Password:</label> <input type="password" name="password1" required pattern="[0-9]{5}" title="Format: 5 numerical digits"
											placeholder="10 numerical digits" maxlength="10" id="password1">
			<br>
            <label>Verify Password:</label> <input type="password" name="password2" required pattern="[0-9]{5}" title="Format: 5 numerical digits"
				placeholder="10 numerical digits" maxlength="10" id="password2"><br>


		</fieldset>
		<br>

		<div id="button">

			<input type="submit" value="Send" id="submit">
			<input type="reset" value="Clear" id="reset"><br>
		</div>
	</form>

{% endblock %}
