{% extends '_template.html.twig' %}

{% block accountsCurrent %}
    current_page
{% endblock %}


{% block css %}
    @import "css/singleProduct.css";
{% endblock %}


{% block main %}

    <div id="singleProduct">

            <div id="title">
                <h2>Pilots Name</h2>
                <h1>{{ member.name }}</h1>
            </div>

            <div id="productImage">
                <h3><img src="images/{{ member.drone}}" id="singleProduct"></h3>
            </div>

            <div id="description">
                <h2>Country</h2>
                <h3>{{ member.country }}</h3>
            </div>

            <div id="price">
                <h2>World Ranking</h2>
                <h3>{{ member.position }}</h3>
            </div>

    </div>

{% endblock %}