{% extends '_template.html.twig' %}


{% block css %}
    @import "css/editForm.css";
{% endblock %}


{% block main %}

    <form action="/index.php?action=processStaffUpdate"  method="post" >

                              <h1>Edit Account 1</h1>

        <label>Id:</label><input type="text" name="id" value="{{ staff.id }}" readonly>
        <br>
        <label>User Name:</label><input type="text" name="userName" value="{{ staff.userName }}">
        <br>
        <label>Password:</label><input type="password" name="password1" value="{{ staff.password }}">
        <br>
        <label>Password:</label><input type="password" name="password2" value="{{ staff.password }}">
        <br>
        <label>Admin access</label>
        <input type="radio" value="1" name="radioButton">Yes
        <input type="radio" value="0" name="radioButton">No
        <br>

        <label> </label><input type="submit" value="Update" id="submitButton">

    </form>

{% endblock %}