{% extends "_template.html.twig" %}

{% block css %}

   #message{margin:auto;
    padding-bottom:5rem;
    padding-top:5rem;
    color:red;
    }
    {% endblock %}



{% block main %}
    <br>
    <br>
    <br>
    <h1 id="message"> Error..... Something seems to have gone wrong</h1>
    <br>
    <br>
    <br>

{% endblock %}