{% extends "_template.html.twig" %}

{% block css %}
    @import "css/error.css";
    {% endblock %}



{% block main %}
   <div id="errorBlock">
       <img src="images/icons/errorImage.jpg" alt="Bacground Image" id="errorImage">
        <div id="message"><strong> Error..... Unfortunately, Something seems to have gone wrong</strong></div>
   </div>

{% endblock %}