{% extends '_template.html.twig' %}



{% block header %}


{% endblock %}



{% block css %}

    @import "/css/galleryLayout.css";

{% endblock %}



{% block main %}
    <div id="container">

        <div class="gallery">
                <img src="/images/cup.jpg" alt="Cup" width="600" height="400">
        </div>

        <div class="gallery">
                <img src="/images/drone.jpg" alt="Drone" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/futaba.jpg" alt="Futaba" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/goggles.jpg" alt="FPV Goggles" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/image1.jpg" alt="Image1" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/image2.jpg" alt="image2" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/image3.jpg" alt="Image3" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/image4.jpg" alt="Image4" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/image5.jpg" alt="Image5" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/image6.jpg" alt="Image6" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/image7.jpg" alt="Image7" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/image8.jpg" alt="image8" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/motor.jpg" alt="Motor" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/motor2.jpg" alt="Motor2" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/pilots.jpg" alt="Pilots" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/taranis.png" alt="Taranis" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/tshirt.jpg" alt="T-Shirt" width="600" height="400">
        </div>
        <div class="gallery">
            <img src="/images/track.jpg" alt="Track" width="600" height="400">
        </div>

    </div>
{% endblock %}