{% extends '_template.html.twig' %}


{% block galleryCurrent %}
    current_page
{% endblock %}


{% block css %}
    @import "/css/galleryLayout.css";
{% endblock %}



{% block main %}
    <div id="container">

    {% for image in images %}

        <div class="gallery">
                <img src="{{ image }}" alt="Cup" width="600" height="400">
        </div>

        {% endfor %}

    </div>
{% endblock %}