{% extends '_template.html.twig' %}

{% block homePageCurrent %}
    current_page
{% endblock %}




{% block main %}


    <section id="video">

        <video width="1000" controls autoplay muted>
            <source src="video/promoVideo.mp4" type="video/mp4">
        </video>


    </section>

    <!---------------LEFT SECTION--------------------------------------->
    <section id="section1">

        <h2>The Drone</h2>

        <img class="resize" src="images/drone.jpg" alt="Picture of drone" id="image" >

        <P class="text">The choice of drone depends on many factors including size, speed, weight, battery size and flight controller. Most racing drones are flight assisted with highly tunable gyros to aid pilots to control such fast moving drones.Some drones can reach an amazing 120mph, while still following the track and avoiding obsticles.</P>

    </section>

    <!---------------CENTER SECTION--------------------------------------->
    <section id="section2">

        <h2>The Track</h2>

        <img class="resize" src="images/track.jpg" alt="Picture of a track" id="image" >

        <p class="text">When entering the racing drone world, the tracks can be some what daunting, evening confusing with many twists and turns. While flying around the track, arrows on the ground are used to aid pilots with orientation and keep everybody moving in the same direction. The track itself consists of many obsticles which have to be either flown under, over or through, depending on the design of the track on the day. Professional tracks tend to be very well lit with LED lighting around obsticles to allow pilots to fly at night time to increase the challenge. </p>

    </section>

    <!---------------RIGHT SECTION--------------------------------------->
    <section id="section3">

        <h2>The pilots</h2>

        <img class="resize" src="images/pilots.jpg" alt="Picture of drone pilots" id="image" >

        <P class="text">The pilots flying the drones are usually situated  seated along the side of the track with a spotted to inform them of any mistakes or dangerous flying. The pilot wears a set of goggles fitted with a wireless reciever that is recieving a live feed from a miniture camera fitted to the front of the drone. This camera alone is the only way for the pilot to navigate through the course.</P>

    </section>

{% endblock %}







