{% extends '_template.html.twig' %}



{% block css %}

    @import "css/loginPage.css";

{% endblock %}


{% block main %}


<form action= "index.php"  method= "post">
    <input type="hidden" name="action" value="processLogin">
    
<h2>Account Login</h2>

    <label>Username:</label><input type="text" required placeholder="User name" name="userName" autofocus id="userName"><br><br>
    
    <label>Password:</label><input type="password" required  name="password" id="loginPassword"><br>

    <br>
    
    <input type="submit" value="Submit" id="loginSubmit">

    <br><br>
    
</form>


{% endblock %}

