{% extends '_template.html.twig' %}



{% block css %}

    @import "/css/loginPage.css";

{% endblock %}


{% block main %}


<form action= "/index.php?action=processLogin"  method= "post">
    <h2>User Name or Password Were Incorrect</h2>
    
<h2>Account Login</h2>

    <label>Username:</label><input type="text" required placeholder="User name" name="userName" autofocus id="userName"><br><br>
    
    <label>Password:</label><input type="password" required  name="password" id="loginPassword"><br>

    <br>
    
    <input type="submit" value="Submit" id="loginSubmit">

    <br><br>
    
</form>


{% endblock %}

