{% extends '_template.html.twig' %}


{% block siteMapCurrent %}
    current_page
{% endblock %}


{% block css %}
    @import "css/siteMap.css";
{% endblock %}


{% block main %}

    <div id="mainContainer">

        {% if session.privilege == 'Administrator' %}

        <div id="admin">
            <h2>Administrator Links</h2>
            <a href="/index.php?action=setup" class="spacing">Setup Database</a><br>
            <a href="/index.php?action=delete" class="spacing" >Delete DataBase</a><br>
            <a href="/index.php?action=createStaff" class="spacing">Create Staff</a><br>
            <a href="/index.php?action=staff" class="spacing">Show Staff</a><br>
        </div>

            {% endif %}

            {% if session.privilege == ('Standard Account' or 'Administrator') %}



        <div id="staff">
            <h2>Staff Links</h2>
            <a href="/index.php?action=staff" class="spacing">Staff Page</a><br>
            <a href="/index.php?action=addLeagueMember" class="spacing">Add league Member</a><br>
            <a href="/index.php?action=visitor" class="spacing">Visitors Page</a><br>
            <a href="/index.php?action=addProduct" class="spacing">Add Products</a><br>
        </div>

            {% endif %}


        <div id="generalLinks">
            <h2>General Links</h2>
            <a href="/index.php?action=index" class="spacing">Home Page</a><br>
            <a href="/index.php?action=leaguePage" class="spacing">League Table</a><br>
            <a href="/index.php?action=displayProduct" class="spacing">Products Page</a><br>
            <a href="/index.php?action=gallery" class="spacing">Gallery Page</a><br>
            <a href="/index.php?action=about" class="spacing">About Page</a><br>
            <a href="/index.php?action=login" class="spacing">Log in</a><br>

        </div>

    </div>


{% endblock %}