#box{
    display:flex;
    flex-wrap:wrap;
}

h1{
    text-align: center;
    color: #550a87;
}

#text{
    flex: 1 0 30%;
    width:60%;
    margin:auto;
    padding:3rem;
}

#aboutImage {
    flex: 1 0 30%;
    padding-top:2rem;
    margin:3rem;
    width: 30%;
}

#visitor{
    display:flex;
    flex-wrap:wrap;
    width:100%;
}

#aboutImage img{
    border:.2rem solid #550a87;
}

.link:hover{
    font-size: 1.5rem;
}

form{
    margin:auto;
    width:30%;
    border: .1rem solid #550a87;
    padding:1rem;
    margin-top:2rem;
    margin-bottom:2rem;
    color:#550a87;
}

input:focus{
    background-color:lavender;
}

label{
    margin-bottom:1rem;
    margin-left:5rem;
    text-align:left;
    display:block;
    float:left;
    width:10rem;
}

#confirm{
    margin: auto;
    margin-top:2rem;
    color:GREEN;
}

#confirm h2{
    color:#550a87;
}

#button{
    text-align:center;
}

#submit, #reset{
    color:green;
}

#submit:hover, #reset:hover{
    color:green;
    font-size: 2rem;
}
#submit{
    margin-right:2rem;
}

h1{
    text-align:center;
}

br{
    clear:both;
}
