form{

    margin: auto;
    margin-top:2rem;
    margin-bottom:1rem;
    width:30rem;
    border: .1rem solid #550a87;
    padding:2rem;
}

NAV{
    margin-bottom: 1rem;
}

footer{
    margin-top: 1rem;
}

input:focus{
    background-color:lavender;
}


fieldset{
    padding:1rem;
    border: .1rem solid #550a87;
    margin:auto;
}

label{
    margin-bottom:1rem;
    text-align:left;
    display:block;
    float:left;
    width:10rem;
    color: #550a87;
}

br{
    clear:both;
}

#button{
    text-align:center;
}
#submit, #reset{
    color:green;
}
#submit{
    margin-right:2rem;
}

h1{
    text-align:center;
    color: #550a87;
}