form{
    margin:auto;
    margin-top:3rem;
    margin-bottom: 2rem;
    width:30rem;
    border: .2rem solid #550a87;
    padding:1rem;
}

input:focus{
    background-color:lavender;
}

label{
    margin-bottom:1rem;
    margin-left: 5rem;
    text-align:left;
    display:block;
    float:left;
    width:7rem;
    color: #550a87;
}

#idLabel{
    margin-left: 5rem;
}

#submitButton{
    margin-left:2rem;
    color:green;
}

h1{
    text-align:center;
    color: #550a87;
}

br{
    clear:both;
}
