form{
    margin:auto;
    width:30%;
    border: .1rem solid black;
    padding:1rem;
    margin-top:2rem;
    margin-bottom:2rem;
}

input:focus{
    background-color:lavender;
}


legend{
    color:red;
    border:.1rem solid blue;
    background-color:white;

}

label{
    margin-bottom:1rem;
    margin-left:5rem;
    text-align:left;
    display:block;
    float:left;
    width:10rem;
}



br{
clear:both;
}

#button{
text-align:center;
}
#submit, #reset{
color:blue;
}
#submit{
margin-right:2rem;
}

h1{
text-align:center;
}