form{
    margin:auto;
    width:30%;
    border: .1rem solid #550a87;
    padding:1rem;
    margin-top:2rem;
    margin-bottom:2rem;
}

input:focus{
    background-color:lavender;
}


label{
    margin-bottom:1rem;
    margin-left:5rem;
    text-align:left;
    display:block;
    float:left;
    width:10rem;
    color: #550a87;
}

fieldset{
    border: .2rem solid green;
}


br{
clear:both;
}

#button{
text-align:center;
}

#submit, #reset{
color:green;
}

#submit{
margin-right:2rem;
}

h1{
text-align:center;
    color: #550a87;
}