/*
    League page
 */

form{
    width:100%;
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

h1{
    color:#550a87;
}

table{

    width:80%;
    margin:auto;
}

#addLink {
    text-align:right;
    text-decoration: none;
    padding:.5rem;
    color:deeppink;
}

.image{
    height:30%;
    max-height: 8rem;
    max-width: 8rem;
}

table th{
    color: #550a87;
    border-bottom:.2rem solid #550a87;
    text-align:center;
    padding:.5rem;
}

table tr{
    text-align:center;
}

td{
    color: #550a87;
    text-align:center;
    padding:.5rem;
    border-bottom:.1rem solid #550a87;
}

a{
    text-decoration: none;
}

#heading{
    margin-top:-2rem;
}

#searchBox{
    margin-left:10%;
    margin-top: 1rem;
    margin-bottom: -3.5rem;
    border:.2rem solid #550a87;
    width: 20%;
    padding-left:1rem;
}

#searchSubmitButton{
    margin-left:8rem;
}

#backToLeaguePage{
    padding: 1rem;
    margin-top:-1rem;
    margin-bottom: -2rem;
    margin-left:80%;
    color: red;
}

#backToLeaguePage:hover{
    color:green;
}

.linkColor:hover{
    color:green;
    padding:1rem;
}
