form{
    width:100%;
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

h1{
    font-size: 2rem;
    color:#550a87;
}

table{

    width:80%;
    margin:auto;
}

#addLink {
    text-align:right;
    text-decoration: none;
    padding:.5rem;
    color:deeppink;
}

.image{
    height:20%;
}


table th{
    border-bottom:.2rem solid black;
    text-align:center;
    padding:.5rem;
}

table tr{
    text-align:center;

}

td{
    text-align:center;
    padding:.5rem;
    border-bottom:.1rem solid black;
}
