/*
    Login Page
 */

form
{
    margin:auto;
    text-align: center;
    margin-top:2rem;
    margin-bottom:1rem;
    border: .2rem solid #550a87;
    width: 30%;
    min-width:10%;
    padding:1rem;
}

label
{
    padding-left:3rem;
    color:#550a87;
    display: block;
    float: left;
}

h2{
    color:#550a87;
}

br
{
    clear:both;
}

#createAccountLink{
    text-align: right;
    padding: .5rem;
    color: deeppink;
}
#createAccountLink:hover{
    text-decoration: none;
}

#loginPassword, #userName{
    margin-right:7rem;
}

#loginSubmit{
    color: green;
    font-size: 1rem;
}

