form
{
    margin:auto;
    text-align: center;
    border: .2rem solid black;
    width: 30%;
    min-width:10%;
    padding:1rem;
}

label
{
    text-align: right;
    display: block;
    float: left;
    width: 6rem;
}

br
{
    clear:both;
}