form
{
    margin:auto;
    text-align: center;
    border: .2rem solid black;
    width: 30%;
    min-width:10%;
    padding:1rem;
}

label
{
    padding-left:3rem;
    display: block;
    float: left;
}

br
{
    clear:both;
}

#createAccountLink{
    text-align: right;
    padding: .5rem;
    color: deeppink;
}
#createAccountLink:hover{
    text-decoration: none;
}

#loginPassword, #userName{
    margin-right:7rem;
}