

h1, h2{
    text-align:center;
    color:#550a87;
}


form{
    width:100%;
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

table{
    width:80%;
    margin:auto;
}

p{
    margin-left:1.5rem;
}

.image{
    height:30%;
    max-height: 8rem;
    max-width: 8rem;
}


table th{
    color: #550a87;
    padding:1rem;
    border-bottom: .1rem solid #550a87;
}

table tr{
    text-align:center;

}

td {
    color:#550a87;
    padding: 1rem;
    text-align: center;
    border-bottom: .1rem solid #550a87;
}

#addProductLink, #singleVisitorLink{
    text-align: right;
    text-decoration: none;
    padding: .5rem;
    color: deeppink;
}




