/*
    Single Product Page
 */

#singleProduct{
    margin:auto;
    width:60%;
    padding:1rem;
    margin-top:3rem;
    margin-bottom:3rem;
 }

#singleProduct h1{
    color:darkgreen;
    text-align:center;
}

h2{
    text-decoration: underline;
    color: #550a87;
}

h3{
    color:darkgreen;
    font-size: 2rem;
}

#singleProduct{
    height:30%;
}

#productImage{
    margin:auto;
    text-align:center;
}

#description{
    padding:2rem;
    text-align:center;
}

#price{
    padding:2rem;
    text-align:center;
}