/*
    Staff
 */

h1, h2{
    text-align:center;
    color:#550a87;
}

form{
    width:100%;
    margin:auto;
}

table{
    width:80%;
    margin:auto;
}

p{
    margin-left:1.5rem;
}

.image{
    height:30%;
}

table th{
    padding:1rem;
    border-bottom: .2rem solid #550a87;
    color: #550a87;
}

table tr{
    text-align:center;
}

td {
    padding: 1rem;
    text-align: center;
    border-bottom: .1rem solid #550a87;
    color: #550a87;
}

a{
    text-decoration: none;
}

#addStaffLink {
    text-align: right;
    text-decoration: none;
    padding: .5rem;
    color: deeppink;
}

.privilegeColumn{
    color:red;
}

#searchBox{
    margin-left:5%;
    margin-top: 2rem;
    margin-bottom: -10rem;
    padding-top: 1.5rem;
    /*border:.2rem solid #550a87;*/
    width: 30%;
    color: #550a87;
}

#searchField{
    border:.2rem solid green;
}

#searchSubmitButton{
    margin-left:8rem;
    border:.2rem solid green;
}

#backToStaffLink{
    padding: 1rem;
    margin-top:3rem;
    margin-bottom: -6rem;
    margin-left:80%;
    color:red;
}

.linkColor:hover{
    color:green;
    padding:.5rem;
}

#backToStaffLink:hover{
    color:green;
}


