/*
    Visitor
 */

h1, h2{
    text-align:center;
    color:#550a87;
}

h2{
    text-decoration: underline;
}

h3{
    color: green;
}

form{
    width:100%;
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;
}

table{
    width:80%;
    margin:auto;
}

p{
    margin-left:1.5rem;
}

table th{
    padding:1rem;
    border-bottom: .2rem solid #550a87;
    color: #550a87;
}

table tr{
    text-align:center;
}

td {
    padding: 1rem;
    text-align: center;
    border-bottom: .1rem solid #550a87;
    color: #550a87;
}

#singleVisitorLink{
    text-align: right;
    text-decoration: none;
    padding: .5rem;
}

#singleVisitor{
    width:30%;
    margin:auto;
    padding: 2rem;
}

#firstName, #secondName, #country, #email{
    text-align:center;
}

a{
    text-decoration: none;
}

