/*

	Footer
*/	
	

footer{
    display:flex;
    flex-wrap:wrap;
    border-top: 0.1rem solid black;
    margin-top: 1rem;
    height: 5rem;
}

#leftFooter{
    flex:1 0 6rem;
    text-align:center;
    margin-top: 2rem;
    padding-top: 1.2rem;
}

#leftFooter ul
{
    list-style-type: none;
    
}

#leftFooter ul li
{
    display: inline;
}

#centerFooter{
    flex:1 0 6rem;
    text-align:center;
    padding-top: 1.5rem;
    color: #550a87;
}

#rightFooter{
    flex:1 0 6rem;
    text-align:center;
    padding-top: 2rem;
    color: #550a87;
}