/*

    Header
    
*/


header
{
    display:flex;
    flex-wrap:wrap;
    background-color: #FDFEFE;
}

#headerLeft{
    padding-top: .5rem;
    flex:1 0 10%;
    text-align:center;
}

#headerCenter{
    flex:1 0 10%;
    text-align:center;
    color: #550a87;
}

#headerRight{
    flex:1 0 10%;
    text-align:center;
    padding-top: 2rem;
}

#headerRightLogin{
    flex:1 0 20%;
    text-align:center;
    padding-top: .5rem;
}



#loginLabel{
    display:block;
    float:left;
    text-align: right;
    width:60%;
    color: #550a87;
}
#mainLogin
{
    text-decoration: none;
    color: #550a87;
}

h1
{
    font-size: 3rem;
}